body {
	font-family: 'Noto Sans', sans-serif;
	background: #caebf2;
	margin: 5pt;
}


header {
	margin-left: 30pt;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) ;
}

a {
	white-space: nowrap;
}


.container {
	display: grid;
	margin-left: 3%;
}


.nav-button{
	padding: 0;
}


.nav-list {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto;
	text-align: center;
	margin-top: 0pt;
	margin-bottom: 0pt;
	background-color: darkgray;
}



.item {
	text-align: center;
	margin: 0px;
	text-decoration-style: white;
}


.item a {
	color: whitesmoke;
	text-transform: uppercase;
	text-decoration: none;
}


.extended-about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 5%;
}

.about-grid {
	display: grid;
	grid-template-columns: 100%;
	margin-right: 30pt;
}




.profile-picture-box {
	justify-self: center;
}


.profile-picture  {
	width: 556px;
	height: 634px;
}


.links-and-contacts {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0px;
}

.links, .contacts {
	justify-self: center;
	margin-top: 0px;
	margin-right: 100px;
	margin-left: 0px;
	margin-bottom: 0px;
}



.research-body, .talks-body, .activities-body, .teaching-body {
	margin: 5%;
	margin-top: 0px;
}


.title-box {
	justify-items: center;
	display: grid;
	margin: 3%;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 24pt;
}


.title {
	display: grid;
	text-justify: center;
	justify-content: center;
	font-size: 24pt;
}

.sub-title {
	text-justify: center;
	justify-content: center;
	font-size: 18pt;
}

.topologie {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 40% 20% 40%;
	margin: 0px;
}

.section-topologie	{
	text-justify: center;
	margin-bottom: 0%;
	padding: 3%;

}

/*.section-topologie-list {
	list-style-type: none;
	margin: 3%;
}
*/

/*begin display options*/


@media (max-width: 1400px) {
	.profile-picture {
		scale: 0.9;
	}

	.links-and-contacts {
	margin: 3%;
}

}


@media (max-width: 1100px) {
	.profile-picture {
		scale: 0.8;
	}

	.links-and-contacts {
	margin: 3%;
}
}



@media (max-width: 960px) {
	.extended-about-grid, .about-grid {
		grid-template-columns: 100%;
	}

	.extended-about-grid, .profile-picture-box, .links-and-contacts {
		margin: 3%;
		padding: 0px;
		border: 0px;
	}


	.profile-picture-box {
		justify-self: center;
		margin: 0;
	}
}

@media (max-width: 650px) {

	.extended-about-grid {
		margin: 3%;
		padding: 0px;
		border: 0px;
	}

	.links-and-contacts {
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	margin: 0px;
}
	
	.profile-picture-box {
		justify-self: center;
		margin-left: 3%;
	}

	.profile-picture {
		scale: 0.8;
		justify-self: center;
	}

	.links, .contacts {
	margin: 3%;
	justify-self: start;
}
	.topologie {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 40% 10% 10% 20%;
	margin: 0px;
}

}

@media (max-width: 550px) {

	.nav-list {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	text-align: center;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 2pt;
	background-color: darkgray;
}

	.extended-about-grid {
		margin: 3%;
		padding: 0px;
		border: 0px;
	}

	.links-and-contacts {
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	margin: 0px;
}

	.profile-picture-box {
		justify-self: center;
		margin-left: 3%;
	}


	.profile-picture {
		scale: 0.7;
		justify-self: center;
		margin-left: 3%;
	}

	.links, .contacts {
	margin: 3%;
	justify-self: start;
}
}


@media (max-width: 375px) {



	.extended-about-grid {
		margin: 3%;
		padding: 0px;
		border: 0px;
	}

	.links-and-contacts {
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	margin: 0px;
}

	.profile-picture-box {
		justify-self: center;
		margin-left: 3%;
	}


	.profile-picture {
		scale: 0.6;
		justify-self: center;
		margin-left: 3%;
	}

	.links, .contacts {
	margin: 3%;
	justify-self: start;
}
}


/* end display options*/
















